jQuery(document).on 'turbolinks:load', ->
  App.user_status = App.cable.subscriptions.create 'UserStatusChannel',

    received: (data) ->
      user = data['user']
      id = user.id;
      status = user.online;
      nickname = user.nickname;

      user_tag = $('#users-list').find("[user-id='#{user.id}']")

      if (!status)
        user_tag.remove()

      if (status && user_tag.length != 1)
        $('#users-list').append("<li user-id='#{id}'>" + '<img src="<%= asset_path('green_dot.png') %>" class="user-image"> ' + "#{nickname}" + "</li>")
