<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Instatalk</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <div class="row justify-content-md-start">
    <div class="col-md-8">

      <%= yield %>

      <% user = User.where(id: cookies.signed[:user_id]).first %>
      <% if user.present? %>
        <div class="col-md-4 mt-10">
          <div class="card text-center mt-4 mb-4">
            <div class="card-body">
              <h1>Online:</h1>
              <div id="users-list">
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
